################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlatformService/bin/Debug/net6.0
/.vs
/PlatformService/obj
